
HeSuVi/Dolby_ProLogic_IIx_(7.1_upmix)_convo (HeSuVi config) old.txt
RetroArch/Shaders/grade.cg
RetroArch/Multiline Multifile Text Replacer (GUI).ahk
RetroArch/Shaders/grade.slang_old
RetroArch/Shaders/grade.slang_old_primaries
